function collect {
    Param([int]$idx, [string]$remote)
    $name = "VT-Learner-{0:d2}" -f $idx
    $dst = ".results{0:d2}" -f $idx

    Write-Host "Collecting from $name to $dst ..." -ForegroundColor Green		
    Remove-Item $dst -Force -Recurse -ErrorAction SilentlyContinue
    mkdir $dst | Out-Null
    plink -load $name -batch "cd /workspace/UnDepthflow; tar -cvf results.tar .results_*"
    pscp -load $name -batch -r "${remote}:/workspace/UnDepthflow/results.tar" "${dst}/results.tar"
    tar -xvf "$dst/results.tar" -C $dst
    del "$dst/results.tar"
    plink -load $name -batch "rm -f /workspace/UnDepthflow/results.tar"
}

collect 0 "dev@192.168.2.50"
collect 1 "dev@192.168.2.51"
collect 2 "dev@192.168.2.52"
collect 99 "ubuntu@14.49.44.113"

conda activate pydc
Start-Process "chrome.exe" "http://localhost:6006"
tensorboard --logdir .
