# Clean all results directories of each learning machine

$cmd = @"
cd /workspace/UnDepthflow/;
while tmux has-session -t vtlearn &> /dev/null;
do echo '* Wait until previous job killed';
    tmux send-keys -t vtlearn:0 C-c &> /dev/null;
    sleep 3;
    tmux send-keys -t vtlearn:0 'exit' Enter &> /dev/null;
done;
echo '* Kill previous tmux session';
tmux kill-session -t vtlearn &> /dev/null;
tmux ls;
echo '* Removing results directories';
rm -rf .results*
"@

$confirmation = Read-Host "Are you Sure You Want To Clean All (say yes)"
if ($confirmation -eq 'yes') {
	Write-Host "Cleaning VT-Learner-00 ..." -ForegroundColor Green		
	plink -load VT-Learner-00 -batch "$cmd"
	Write-Host "Cleaning VT-Learner-01 ..." -ForegroundColor Green		
	plink -load VT-Learner-01 -batch "$cmd"
	Write-Host "Cleaning VT-Learner-02 ..." -ForegroundColor Green		
	plink -load VT-Learner-02 -batch "$cmd"
	Write-Host "Cleaning VT-Learner-99 ..." -ForegroundColor Green		
	plink -load VT-Learner-99 -batch "$cmd"
	Write-Host "Done ..." -ForegroundColor Green		
	pause
}

