$restart_session = @"
echo '* Sending 1st INT signal to previous job';
tmux send-keys -t vtlearn:0 C-c &> /dev/null;
sleep 3;
echo '* Sending 2nd INT signal to previous job';
tmux send-keys -t vtlearn:0 C-c &> /dev/null;
sleep 3;
echo '* Kill previous tmux session';
tmux kill-session -t vtlearn &> /dev/null;
sleep 3;
tmux ls;
echo '* Create new tmux session';
tmux new-session -d -s vtlearn;
tmux ls
"@

$cmd00 = @"
cd /workspace/UnDepthflow;
git pull;
$restart_session;
tmux send-keys -t vtlearn:0 'python3 main.py --optimizer=adam --depth_smooth_weight=0.5 --trace=.results_stereo_adam_05 2> tlog.txt' Enter;
"@

$cmd01 = @"
cd /workspace/UnDepthflow;
git pull;
$restart_session;
tmux send-keys -t vtlearn:0 'python3 main.py --optimizer=adam --depth_smooth_weight=0.6 --trace=.results_stereo_adam_06 2> tlog.txt' Enter;
"@

$cmd02 = @"
cd /workspace/UnDepthflow;
git pull;
$restart_session;
tmux send-keys -t vtlearn:0 'python3 main.py --optimizer=rmsprop --depth_smooth_weight=0.5 --trace=.results_stereo_rmsprop_05 2> tlog.txt' Enter;
"@

$cmd99 = @"
cd /workspace/UnDepthflow;
git pull;
$restart_session;
tmux send-keys -t vtlearn:0 '. activate vt-learn' Enter;
tmux send-keys -t vtlearn:0 'python3 main.py --optimizer=rmsprop --depth_smooth_weight=0.6 --trace=.results_stereo_rmsprop_06 2> tlog.txt' Enter;
"@


Write-Host "Sending command to VT-Learner-00 ..." -ForegroundColor Green		
plink -load VT-Learner-00 -batch "$cmd00"
Write-Host "Sending command to VT-Learner-01 ..." -ForegroundColor Green		
plink -load VT-Learner-01 -batch "$cmd01"
Write-Host "Sending command to VT-Learner-02 ..." -ForegroundColor Green		
plink -load VT-Learner-02 -batch "$cmd02"
Write-Host "Sending command to VT-Learner-99 ..." -ForegroundColor Green		
plink -load VT-Learner-99 -batch "$cmd99"
Write-Host "Done ..." -ForegroundColor Green		
pause