function gen_cmd {
    Param([string]$opt, [string]$env)
    $activate = if ($env) { ". activate $env" } else { "" }

$output = @"
cd /workspace/UnDepthflow/;
git pull;
while tmux has-session -t vtlearn &> /dev/null;
do echo '* Wait until previous job killed';
    tmux send-keys -t vtlearn:0 C-c &> /dev/null;
    sleep 3;
    tmux send-keys -t vtlearn:0 'exit' Enter &> /dev/null;
done;
tmux ls;
echo '* Create new tmux session';
tmux new-session -d -s vtlearn;
tmux ls;
tmux send-keys -t vtlearn:0 '$activate; python3 main.py $opt 2> tlog.txt' Enter;
echo '* Training script started';
tmux split-window -t vtlearn:0 -v;
tmux send-keys -t vtlearn:0 '$activate; tensorboard --logdir .' Enter;
echo '* Tensorboard started';
tmux select-pane -t vtlearn:0 -U;
tmux list-pane -t vtlearn:0;
"@

    return $output
}

$cmd00 = gen_cmd "--lr_loss_weight=1.0 --trace=.results_stereo_1.0" ""
$cmd01 = gen_cmd "--lr_loss_weight=2.0 --trace=.results_stereo_2.0" ""
$cmd02 = gen_cmd "--lr_loss_weight=3.0 --trace=.results_stereo_3.0" ""
$cmd99 = gen_cmd "--lr_loss_weight=4.0 --trace=.results_stereo_4.0" "vt-learn"

Write-Host "Sending command to VT-Learner-00 ..." -ForegroundColor Green		
plink -load VT-Learner-00 -batch "$cmd00"
Write-Host "Sending command to VT-Learner-01 ..." -ForegroundColor Green		
plink -load VT-Learner-01 -batch "$cmd01"
Write-Host "Sending command to VT-Learner-02 ..." -ForegroundColor Green		
plink -load VT-Learner-02 -batch "$cmd02"
Write-Host "Sending command to VT-Learner-99 ..." -ForegroundColor Green		
plink -load VT-Learner-99 -batch "$cmd99"
Write-Host "Done ..." -ForegroundColor Green		
pause