function run_cmd {
    Param([int]$idx, [string]$opt, [string]$env)

    $activate_with_semicolon = if ($env) { ". activate $env;" } else { "" }
    $name = "VT-Learner-{0:d2}" -f $idx
    Write-Host "Sending command to $name ..." -ForegroundColor Green		
    
$cmd = @"
cd /workspace/UnDepthflow/;
git pull;
while tmux has-session -t vtlearn &> /dev/null;
do echo '* Wait until previous job killed';
    tmux send-keys -t vtlearn:0 C-c &> /dev/null;
    sleep 3;
    tmux send-keys -t vtlearn:0 'exit' Enter &> /dev/null;
done;
tmux ls;
echo '* Create new tmux session';
tmux new-session -d -s vtlearn;
tmux ls;
tmux send-keys -t vtlearn:0 '$activate_with_semicolon python3 main.py $opt 2> tlog.txt' Enter;
echo '* Training script started';
tmux split-window -t vtlearn:0 -v;
tmux send-keys -t vtlearn:0 '$activate_with_semicolon tensorboard --logdir .' Enter;
echo '* Tensorboard started';
tmux select-pane -t vtlearn:0 -U;
tmux list-pane -t vtlearn:0;
"@

    plink -load $name -batch "$cmd"
}

run_cmd 0 "--lr_loss_weight=1.0 --trace=.results_stereo_1.0" ""
run_cmd 1 "--lr_loss_weight=1.0 --trace=.results_stereo_1.0 --num_gpus=2" ""
run_cmd 2 "--lr_loss_weight=2.0 --trace=.results_stereo_2.0" ""
run_cmd 3 "--lr_loss_weight=3.0 --trace=.results_stereo_3.0" ""
run_cmd 99 "--lr_loss_weight=4.0 --trace=.results_stereo_4.0" "vt-learn"

Write-Host "Done ..." -ForegroundColor Green		
pause